process { withName: 'FASTQC' { container = 'modules/nf-core/fastqc/.conda-lock/linux_amd64-bd-5cb1a2fa2f18c7c2_1.txt' } }
process { withName: 'MULTIQC' { container = 'modules/nf-core/multiqc/.conda-lock/linux_amd64-bd-c17fb751507e9dfc_1.txt' } }
process { withName: 'PRODIGAL' { container = 'modules/nf-core/prodigal/.conda-lock/linux_amd64-bd-27b5cdb2d516f347_1.txt' } }
process { withName: 'PROKKA' { container = 'modules/nf-core/prokka/.conda-lock/linux_amd64-bd-f21b98bcef4c3579_1.txt' } }
process { withName: 'TRANSRATE' { container = 'modules/nf-core/transrate/.conda-lock/linux_amd64-bd-092d9b5f119b9733_1.txt' } }
