process { withName: 'CUSTOM_COLLECTFEATURECOUNTS' { container = 'oras://community.wave.seqera.io/library/r-base_r-data.table_r-dplyr_r-dtplyr_pruned:26dcf8d18c74568a' } }
process { withName: 'CUSTOM_COLLECTSTATS' { container = 'oras://community.wave.seqera.io/library/custom_collectstats:8fc2c1667001d110' } }
process { withName: 'DUCKDB_TABLE2PARQUET' { container = 'oras://community.wave.seqera.io/library/duckdb-cli:1.5.5--9ff691978ccb6109' } }
process { withName: 'EGGNOG_DOWNLOAD' { container = 'oras://community.wave.seqera.io/library/eggnog-mapper_awscli_gzip_tar:f646d5e6d1959e35' } }
process { withName: 'FASTQC' { container = 'oras://community.wave.seqera.io/library/fastqc:0.12.1--127a87fc06499035' } }
process { withName: 'KOFAMSCAN_DOWNLOAD' { container = 'oras://community.wave.seqera.io/library/wget_awscli_gzip_tar:4a6da226684802b2' } }
process { withName: 'MULTIQC' { container = 'oras://community.wave.seqera.io/library/multiqc:1.35--c0468833d65b2f81' } }
process { withName: 'PRODIGAL' { container = 'oras://community.wave.seqera.io/library/prodigal_pigz:0f538b4630f0a3a8' } }
process { withName: 'PROKKA' { container = 'oras://community.wave.seqera.io/library/prokka_openjdk_parallel:da4872acb14bdec7' } }
