process { withName: 'CUSTOM_COLLECTFEATURECOUNTS' { container = 'oras://community.wave.seqera.io/library/r-base_r-data.table_r-dplyr_r-dtplyr_pruned:cfc660db3b9f0e48' } }
process { withName: 'CUSTOM_COLLECTSTATS' { container = 'oras://community.wave.seqera.io/library/custom_collectstats:45b9f247facbfda0' } }
process { withName: 'FASTQC' { container = 'oras://community.wave.seqera.io/library/fastqc:0.12.1--5c4bd442468d75dd' } }
process { withName: 'MULTIQC' { container = 'oras://community.wave.seqera.io/library/multiqc:1.35--c680f2aea25ccec2' } }
process { withName: 'PRODIGAL' { container = 'oras://community.wave.seqera.io/library/prodigal_pigz:91d31a94f3a16dca' } }
process { withName: 'PROKKA' { container = 'oras://community.wave.seqera.io/library/prokka_openjdk_parallel:f9c80fd1fb3dcd19' } }
