process { withName: 'CUSTOM_COLLECTFEATURECOUNTS' { conda = 'modules/nf-core/custom/collectfeaturecounts/.conda-lock/linux_amd64-bd-e289d008f8e006c5_1.txt' } }
process { withName: 'CUSTOM_COLLECTSTATS' { conda = 'modules/nf-core/custom/collectstats/.conda-lock/linux_amd64-bd-c1f477e6251c36bb_1.txt' } }
process { withName: 'FASTQC' { conda = 'modules/nf-core/fastqc/.conda-lock/linux_amd64-bd-5cb1a2fa2f18c7c2_1.txt' } }
process { withName: 'MULTIQC' { conda = 'modules/nf-core/multiqc/.conda-lock/linux_amd64-bd-c17fb751507e9dfc_1.txt' } }
process { withName: 'PRODIGAL' { conda = 'modules/nf-core/prodigal/.conda-lock/linux_amd64-bd-27b5cdb2d516f347_1.txt' } }
process { withName: 'PROKKA' { conda = 'modules/nf-core/prokka/.conda-lock/linux_amd64-bd-f21b98bcef4c3579_1.txt' } }
process { withName: 'TRANSRATE' { conda = 'modules/nf-core/transrate/.conda-lock/linux_amd64-bd-092d9b5f119b9733_1.txt' } }
