process { withName: 'CUSTOM_COLLECTFEATURECOUNTS' { container = 'community.wave.seqera.io/library/r-base_r-data.table_r-dplyr_r-dtplyr_pruned:e98a95795cdd7b8d' } }
process { withName: 'CUSTOM_COLLECTSTATS' { container = 'community.wave.seqera.io/library/custom_collectstats:a98d93b78fdd37b9' } }
process { withName: 'FASTQC' { container = 'community.wave.seqera.io/library/fastqc:0.12.1--e455e32f745abe68' } }
process { withName: 'MULTIQC' { container = 'community.wave.seqera.io/library/multiqc:1.35--5c84a5000a226ab5' } }
process { withName: 'PRODIGAL' { container = 'community.wave.seqera.io/library/prodigal_pigz:8f955ee5391535ca' } }
process { withName: 'PROKKA' { container = 'community.wave.seqera.io/library/prokka_openjdk_parallel:2b8a3d67cd9e777a' } }
