process { withName: 'CUSTOM_COLLECTFEATURECOUNTS' { conda = 'modules/nf-core/custom/collectfeaturecounts/.conda-lock/linux_arm64-bd-e98a95795cdd7b8d_1.txt' } }
process { withName: 'CUSTOM_COLLECTSTATS' { conda = 'modules/nf-core/custom/collectstats/.conda-lock/linux_arm64-bd-a98d93b78fdd37b9_1.txt' } }
process { withName: 'FASTQC' { conda = 'modules/nf-core/fastqc/.conda-lock/linux_arm64-bd-e455e32f745abe68_1.txt' } }
process { withName: 'MULTIQC' { conda = 'modules/nf-core/multiqc/.conda-lock/linux_arm64-bd-5c84a5000a226ab5_1.txt' } }
process { withName: 'PRODIGAL' { conda = 'modules/nf-core/prodigal/.conda-lock/linux_arm64-bd-8f955ee5391535ca_1.txt' } }
process { withName: 'PROKKA' { conda = 'modules/nf-core/prokka/.conda-lock/linux_arm64-bd-2b8a3d67cd9e777a_1.txt' } }
