process { withName: 'CUSTOM_COLLECTFEATURECOUNTS' { container = 'community.wave.seqera.io/library/r-base_r-data.table_r-dplyr_r-dtplyr_pruned:e98a95795cdd7b8d' } }
process { withName: 'CUSTOM_COLLECTSTATS' { container = 'community.wave.seqera.io/library/custom_collectstats:a98d93b78fdd37b9' } }
process { withName: 'DUCKDB_TABLE2PARQUET' { container = 'community.wave.seqera.io/library/duckdb-cli:1.5.5--9759cff58ac94478' } }
process { withName: 'EGGNOG_DOWNLOAD' { container = 'community.wave.seqera.io/library/eggnog-mapper_awscli_gzip_tar:2bd17ba1eb2faaab' } }
process { withName: 'FASTQC' { container = 'community.wave.seqera.io/library/fastqc:0.12.1--e455e32f745abe68' } }
process { withName: 'KOFAMSCAN_DOWNLOAD' { container = 'community.wave.seqera.io/library/wget_awscli_gzip_tar:58866b9aaf7e5e39' } }
process { withName: 'MULTIQC' { container = 'community.wave.seqera.io/library/multiqc:1.35--5c84a5000a226ab5' } }
process { withName: 'PRODIGAL' { container = 'community.wave.seqera.io/library/prodigal_pigz:8f955ee5391535ca' } }
process { withName: 'PROKKA' { container = 'community.wave.seqera.io/library/prokka_openjdk_parallel:2b8a3d67cd9e777a' } }
process { withName: 'SAMTOOLS_TRIMHEADER' { container = 'community.wave.seqera.io/library/gawk_htslib_samtools:b51955e87a26cfe5' } }
