/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/
process {
    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: SAMPLESHEET_CHECK {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: CAT_FASTQ {
        publishDir = [
            enabled: false
        ]
    }

    withName: FASTQC {
        ext.args = '--quiet'
        publishDir = [
            enabled: false
        ]
    }

    withName: TRIMGALORE {
        ext.args = [
            '--fastqc',
            params.trim_nextseq > 0 ? "--nextseq ${params.trim_nextseq}" : ''
        ].join(' ').trim()
        publishDir = [
            [
                path: { "${params.outdir}/trimgalore/fastqc" },
                mode: 'copy',
                pattern: "*.{html,zip}"
            ],
            [
                path: { "${params.outdir}/trimgalore" },
                mode: 'copy',
                pattern: "*.txt"
            ]
        ]
    }

    withName: SEQTK_MERGEPE {
        publishDir = [
            enabled: false
        ]
    }

    withName: KHMER_NORMALIZEBYMEDIAN {
        ext.args = [
            params.diginorm_C ? "-C ${params.diginorm_C}" : '',
            params.diginorm_k ? "-k ${params.diginorm_k}" : '',
        ].join(' ').trim()
        publishDir = [
            [
                path: { "${params.outdir}/diginorm" },
                mode: 'copy',
                pattern: "*.fastq.gz"
            ],
            [
                path: { "${params.outdir}/diginorm/logs" },
                mode: 'copy',
                pattern: "*.log"
            ]
        ]
    }

    withName: KHMER_FILTERABUND {
        ext.args = [
            '--variable-coverage',
            params.diginorm_C ? "-C ${params.diginorm_C} -Z ${params.diginorm_C}" : '',
            ].join(' ').trim()
        publishDir = [
            [
                path: { "${params.outdir}/diginorm" },
                mode: 'copy',
                pattern: "*.fastq.gz"
            ],
            [
                path: { "${params.outdir}/diginorm/logs" },
                mode: 'copy',
                pattern: "*.log"
            ]
        ]
    }

    withName: KHMER_EXTRACTPAIREDREADS {
        publishDir = [
            [
                path: { "${params.outdir}/diginorm" },
                mode: 'copy',
                pattern: "*.fastq.gz"
            ],
            [
                path: { "${params.outdir}/diginorm/logs" },
                mode: 'copy',
                pattern: "*.log"
            ]
        ]
    }

    withName: MEGAHIT_INTERLEAVED {
        publishDir = [
            path: { "${params.outdir}/megahit" },
            mode: 'copy',
            pattern: '**/*.{gz,log}'
        ]
    }

    withName: WRITESPADESYAML {
        publishDir = [
            path: { "${params.outdir}/rnaspades" },
            mode: 'copy',
            pattern: '*.yaml'
        ]
    }

    withName: SPADES {
        ext.args = "--rna"
        publishDir = [
            path: { "${params.outdir}/rnaspades" },
            mode: 'copy',
            pattern: '*.{gz,log}'
        ]
    }

    withName: FORMATSPADES {
        publishDir = [
            enabled: false
        ]
    }

    withName: BBMAP_INDEX {
        publishDir = [
            enabled: false
        ]
    }

    withName: BBMAP_ALIGN {
        ext.args = "trimreaddescriptions=t pigz=t"
        publishDir = [
            [
                path: { "${params.outdir}/bbmap/bam" },
                mode: 'copy',
                pattern: "*.bam"
            ],
            [
                path: { "${params.outdir}/bbmap/logs" },
                mode: 'copy',
                pattern: "*.log"
            ]
        ]
    }

    withName: SAMTOOLS_SORT {
        ext.prefix = { "${meta.id}.sorted" }
    }

    withName: PRODIGAL {
        ext.args = params.prodigal_trainingfile ? "-t $params.prodigal_trainingfile" : "-p meta"
        publishDir = [
            path: { "${params.outdir}/prodigal" },
            mode: 'copy',
            pattern: "*.{faa,fna}"
        ]
    }

    withName: FORMAT_PRODIGAL {
        publishDir = [
            path: { "${params.outdir}/prodigal" },
            mode: 'copy',
            pattern: "*.gz"
        ]
    }

    withName: LONGORF {
        publishDir = [
            enabled: false
        ]
    }

    withName: PREDICT {
        publishDir = [
            path: { "${params.outdir}/transdecoder" },
            mode: 'copy',
            pattern: "*.transdecoder.*"
        ]
    }

    withName: 'PROKKA' {
        ext.args = '--prodigal --metagenome'
        publishDir = [
            enabled: false
        ]
    }

    withName: 'FAA_CAT' {
        ext.prefix = 'prokka.faa.gz'
        publishDir = [
            path: { "${params.outdir}/prokka" },
            mode: 'copy',
            pattern: "*.gz"
        ]
    }

    withName: 'FNA_CAT' {
        ext.prefix = 'prokka.fna.gz'
        publishDir = [
            path: { "${params.outdir}/prokka" },
            mode: 'copy',
            pattern: "*.gz"
        ]
    }

    withName: 'GFF_CAT' {
        ext.prefix = 'prokka.gff.gz'
        publishDir = [
            path: { "${params.outdir}/prokka" },
            mode: 'copy',
            pattern: "*.gz"
        ]
    }

    withName: '.*:FEATURECOUNTS_CDS' {
        ext.args = '-g ID -t CDS -F gtf'
        publishDir = [
            path: { "${params.outdir}/featurecounts" },
            mode: 'copy',
            pattern: "*.featureCounts.*"
        ]
    }

    withName: COLLECT_FEATURECOUNTS {
        publishDir = [
            path: { "${params.outdir}/summary_tables" },
            mode: 'copy'
        ]
    }

    withName: 'HMMRANK' {
        publishDir = [
            path: { "${params.outdir}/summary_tables" },
            mode: 'copy',
            pattern: "*.tsv.gz"
        ]
    }

    withName: EGGNOG_DOWNLOAD {
        publishDir = [
            [
                path: { "${params.eggnog_dbpath}" },
                mode: 'copy',
                pattern: "*.db"
            ],
            [
                path: { "${params.eggnog_dbpath}" },
                mode: 'copy',
                pattern: "*.pkl"
            ],
            [
                path: { "${params.eggnog_dbpath}" },
                mode: 'copy',
                pattern: "*.dmnd"
            ]
        ]
    }

    withName: EGGNOG_MAPPER {
        publishDir = [
            [
                path: { "${params.outdir}/eggnog" },
                mode: 'copy',
                pattern: "*.emapper.hits"
            ],
            [
                path: { "${params.outdir}/eggnog" },
                mode: 'copy',
                pattern: "*.emapper.seed_orthologs"
            ],
            [
                path: { "${params.outdir}/eggnog" },
                mode: 'copy',
                pattern: "*.emapper.annotations"
            ]
        ]
    }

    withName: EGGNOG_TABLE {
        publishDir = [
        path: { "${params.outdir}/summary_tables" },
        mode: 'copy',
        pattern: "eggnogs.tsv.gz"
        ]
    }

    withName: KOFAMSCAN_SCAN {
        publishDir = [
            path: { "${params.outdir}/kofamscan" },
            mode: 'copy',
            pattern: "*.tsv"
        ]
    }

    withName: CAT_DB_GENERATE {
        publishDir = [
            path: { "${params.outdir}/Taxonomy/CAT" },
            mode: params.publish_dir_mode,
            pattern: "*.tar.gz"
        ]
    }

    withName: UNPIGZ_CONTIGS {
        publishDir = [
            enabled: false
        ]
    }

    withName: CAT_CONTIGS {
        publishDir = [
            path: { "${params.outdir}/Taxonomy/CAT/${meta.assembler}/${meta.binner}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: CAT_SUMMARY {
        ext.prefix = "cat_summary"
        publishDir = [
            path: { "${params.outdir}/Taxonomy/CAT/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: SUM_EGGNOG {
        publishDir = [
        path: { "${params.outdir}/summary_tables" },
        mode: 'copy',
        pattern: "eggnog_summary.tsv"
        ]
    }

    withName: EUKULELE_DOWNLOAD {
        ext.when = { db }
        publishDir = [
            path: { "${params.eukulele_dbpath}/" },
            mode: 'copy',
            pattern: "*"
        ]
    }

    withName: EUKULELE {
        publishDir = [
            path: { "${params.outdir}/eukulele" },
            mode: 'copy'
        ]
        memory = 16.GB
        ext.args = [
            params.orf_caller == 'transdecoder' ? "--protein_extension .pep" : '',
            params.eukulele_method ? "-m ${params.eukulele_method}" : ''
        ].join(' ').trim()
    }

    withName: FORMAT_TAX {
        publishDir = [
            path: { "${params.outdir}/summary_tables" },
            mode: 'copy',
            pattern: '*.tsv'
        ]
    }

    withName: SUM_TAXONOMY {
        publishDir = [
            path: { "${params.outdir}/summary_tables" },
            mode: 'copy',
            pattern: '*.tsv'
        ]
    }

    withName: MERGE_TABLES {
        publishDir = [
            enabled: false
        ]
    }

    withName: COLLECT_STATS {
        publishDir = [
            path: { "${params.outdir}/summary_tables" },
            mode: 'copy'
        ]
    }

    withName: COLLECT_FEATURECOUNTS {
        publishDir = [
            path: { "${params.outdir}/summary_tables" },
            mode: 'copy'
        ]
    }

    withName: CUSTOM_DUMPSOFTWAREVERSIONS {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            pattern: '*_versions.yml'
        ]
    }

    withName: MULTIQC {
        ext.args = params.multiqc_title ? "--title \"$params.multiqc_title\"" : ''
        publishDir = [
            path: "${params.outdir}/multiqc",
            mode: 'copy',
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}
