/*
========================================================================================
    Nextflow config file for running minimal tests
========================================================================================
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/metatdenovo -profile test_metaeuk,<docker/singularity>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]
}

params {
    config_profile_name        = 'Test profile for metaeuk orf caller'
    config_profile_description = 'Minimal eukaryotic (RPL28) test dataset to check pipeline function with MetaEuk'

    // Input data
    // TODO: switch back to the upstream nf-core/test-datasets base path once the
    // metaeuk/ test data has been PR'd there -- for now it only exists on this fork.
    input      = 'https://raw.githubusercontent.com/erikrikarddaniel/test-datasets/metatdenovo/samplesheet/samplesheet_metaeuk.csv'
    metaeuk_db = 'https://raw.githubusercontent.com/erikrikarddaniel/test-datasets/metatdenovo/test_data/metaeuk/rpl28_reference_db.faa'

    // Params
    assembler      = 'megahit'
    orf_caller     = 'metaeuk'
    skip_eukulele  = true
    skip_eggnog    = true
    skip_kofamscan = true
    skip_dbcan     = true
}
