/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running full-size tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a full size pipeline test.

    Use as follows:
        nextflow run nf-core/metatdenovo -profile test_full,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]
}

params {
    config_profile_name        = 'Full test profile'
    config_profile_description = 'Full test dataset to check pipeline function'

    // Input data for full size test
    input = params.pipelines_testdata_base_path + 'metatdenovo/samplesheet/samplesheet_full_test.csv'

    // parameters
    assembler       = 'megahit'
    orf_caller      = 'prodigal'
    skip_eukulele   = false
    skip_eggnog     = false
    skip_kofamscan  = true
    eukulele_dbpath = 's3://ngi-igenomes/test-data/metatdenovo/gtdb_eukulele/'
    eggnog_dbpath   = 's3://ngi-igenomes/test-data/metatdenovo/eggnog/'
}
