/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/metatdenovo -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]
}

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Input data
    input    = params.pipelines_testdata_base_path + 'metatdenovo/samplesheet/samplesheet.csv'
    hmmfiles = 'https://raw.githubusercontent.com/nf-core/test-datasets/metatdenovo/test_data/PF00317.hmm,https://raw.githubusercontent.com/nf-core/test-datasets/metatdenovo/test_data/PF00848.hmm,https://raw.githubusercontent.com/nf-core/test-datasets/metatdenovo/test_data/PF03477.hmm,https://raw.githubusercontent.com/nf-core/test-datasets/metatdenovo/test_data/PF13597.hmm'

    assembler      = 'megahit'
    orf_caller     = 'prodigal'
    bbnorm         = true

    // Other options
    skip_eukulele  = true
    skip_eggnog    = true
    skip_kofamscan = true
}
